myst-parser
numpy
pydata-sphinx-theme
sphinx
sphinx-autodoc-typehints
sphinx-toolbox
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
